{% load  static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <link rel="shortcut icon" href="//a.disquscdn.com/1581704280/img/favicon16-32.ico" type="image/vnd.microsoft.icon">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="keywords" content="Disqus, disqus.com, comments, blog, blogs, discussion">
    <meta name="google" value="notranslate"/>
    <title>
        Sign-up to comment on Disqus
    </title>

    <meta name="description" content="Create an account and join the millions of commenters on Disqus.">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css"/>
</head>
<body class="" id="js-content">


<section class="container--narrow signup">
    <form id="login-form" action="" method="post" accept-charset="utf-8">
        <input type='hidden' name='csrfmiddlewaretoken' value='G1ZF84SQN55oDayPYywyIC6If0ecR34P'/>

        <div class="nav-tab">
            <div class="nav-tab__item is-active">
                Signup
            </div>
            <a href="{% url 'login' %}" class="nav-tab__item">
                Login
            </a>
        </div>

        <p class="text-center">Sign up for Disqus with your social media account or email address</p>

        <div class="social-login__wrapper">
            <button title="facebook" type="button" class="social-button -facebook">
                    <span class="auth-container">
                        <img src="//a.disquscdn.com/1581704280/img/icons/facebook.svg" alt="Facebook">
                    </span>
            </button>
            <button title="twitter" type="button" class="social-button -twitter">
                    <span class="auth-container">
                        <img src="//a.disquscdn.com/1581704280/img/icons/twitter.svg" alt="Twitter">
                    </span>
            </button>
            <button title="google" type="button" class="social-button -google">
                    <span class="auth-container">
                        <img src="//a.disquscdn.com/1581704280/img/icons/google.svg" alt="Google">
                    </span>
            </button>
        </div>


        <fieldset class="input-group">
            <input id="display-name-input" type="text" name="display_name" tabindex="20"
                   value=""
                   placeholder="Name"
                   required autofocus

            >

        </fieldset>

        <fieldset class="input-group">
            <input id="email-input" type="email" name="email" tabindex="21"
                   value="" placeholder="Email" required

            >

        </fieldset>

        <fieldset class="input-group">
            <input id="password-input" type="password" name="password" tabindex="22"
                   placeholder="Password" required

            >

        </fieldset>


        <div class="button-container spacing-bottom">
            <button class="button submit" data-analytics="sign-in" tabindex="23">Signup<span class="spinner"></span>
            </button>
        </div>
    </form>

</section>


<div class="text-center">
    <a href="/" class="logo" data-analytics="site logo">
        <img src="//a.disquscdn.com/1581704280/img/disqus-logo-alt-hidpi.png" width="102" height="20" alt="Disqus"
             title="Disqus - Discover your community" style="padding-bottom: 20px;"/>
    </a>
</div>

</body>
</html>
