{% load  static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <link rel="shortcut icon" href="//a.disquscdn.com/1581704280/img/favicon16-32.ico" type="image/vnd.microsoft.icon">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="keywords" content="Disqus, disqus.com, comments, blog, blogs, discussion">
    <meta name="google" value="notranslate"/>
    <title>
        Sign-up to comment on Artel Blog
    </title>

    <meta name="description" content="Create an account and join the millions of commenters on Disqus.">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css"/>
    <style>
        .signup{
            padding: 90px 40px 50px;
        }
    </style>
</head>
<body class="" id="js-content">


<section class="container--narrow signup">
    <form id="login-form" method="post" accept-charset="utf-8">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        <div class="nav-tab">
            <div class="nav-tab__item is-active">
                Signup
            </div>
            <a href="{% url 'login' %}" class="nav-tab__item">
                Login
            </a>
        </div>

        <p class="text-center">Sign up for Disqus with your social media account or email address</p>

        <div class="social-login__wrapper">
            <button title="facebook" type="button" class="social-button -facebook">
                    <span class="auth-container">
                        <img src="//a.disquscdn.com/1581704280/img/icons/facebook.svg" alt="Facebook">
                    </span>
            </button>
            <button title="twitter" type="button" class="social-button -twitter">
                    <span class="auth-container">
                        <img src="//a.disquscdn.com/1581704280/img/icons/twitter.svg" alt="Twitter">
                    </span>
            </button>
            <button title="google" type="button" class="social-button -google">
                    <span class="auth-container">
                        <img src="//a.disquscdn.com/1581704280/img/icons/google.svg" alt="Google">
                    </span>
            </button>
        </div>


        <fieldset class="input-group">
            {#            <input id="display-name-input" type="text" name="display_name" tabindex="20"#}
            {#                   value=""#}
            {#                   placeholder="Name"#}
            {#                   required autofocus#}
            {##}
            {#            >#}
            {{ form.name }}

        </fieldset>

        <fieldset class="input-group">
            {#            <input id="email-input" type="email" name="email" tabindex="21"#}
            {#                   value="" placeholder="Email" required#}
            {##}
            {#            >#}
            {{ form.email }}

        </fieldset>

        {#        <fieldset class="input-group">#}
        {#            <input id="password-input" type="password" name="password" tabindex="22"#}
        {#                   placeholder="Password" required#}
        {#            >#}
        {##}
        {#        </fieldset>#}
        <fieldset class="input-group">
            {{ form.password.errors }}
            {{ form.password }}
        </fieldset>

        <div class="button-container spacing-bottom">
            <button class="button submit" type="submit" data-analytics="sign-in" tabindex="23">Signup<span
                    class="spinner"></span>
            </button>
        </div>
    </form>

</section>


<div class="text-center">
    <a href="/" class="logo" data-analytics="site logo">
        <img src="{% static 'main/img/logo.png' %}" width="102" height="auto" alt="Disqus"
             title="Disqus - Discover your community" style="padding-bottom: 10px;"/>
    </a>
</div>

</body>
</html>
